@model IEnumerable<rabapp.web.Models.WeekEnd>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Branch.BranchName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WeekDay.WeekDayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WeekEndType.WeekEndTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WeekEndName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Branch.BranchName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WeekDay.WeekDayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WeekEndType.WeekEndTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WeekEndName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WeekEndId }) |
            @Html.ActionLink("Details", "Details", new { id=item.WeekEndId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WeekEndId })
        </td>
    </tr>
}

</table>
