@model IEnumerable<rabapp.web.Models.EmployeeTransferInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Branch.BranchName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.DepartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Designation.DesignationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.EmployeeCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Section.SectionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FromDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DurationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Branch.BranchName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.DepartmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Designation.DesignationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.EmployeeCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Section.SectionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IssueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FromDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DurationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeTransferInfoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmployeeTransferInfoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmployeeTransferInfoId })
        </td>
    </tr>
}

</table>
