@model IEnumerable<lab.MusicStoreApp.Models.Genre>

@{
    ViewBag.Title = "Store";
}

<h2>Browse Genres</h2>

<p>
    Select From @Model.Count() Genres:
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a href="/Store/Browse?genre=@item.Name">Browse</a>
            </td>
        </tr>
    }

</table>
