@model IEnumerable<rabapp.web.Models.EmployeeReferenceInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.EmployeeCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReferenceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReferenceAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DesignationTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumberCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumberCountryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNumberCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNumberCountryId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.EmployeeCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReferenceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReferenceAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DesignationTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrganizationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumberCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumberCountryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobileNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobileNumberCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobileNumberCountryId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeReferenceInfoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmployeeReferenceInfoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmployeeReferenceInfoId })
        </td>
    </tr>
}

</table>
