@model lab.EncryptDecryptApps.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
<div class="row">
    <div class="col-md-12">
        <h2>
            Change Password
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            Use the form below to change your password.
        </p>
        <p>
            New passwords are required to be a minimum of @Membership.MinRequiredPasswordLength
            characters in length.
        </p>
    </div>
</div>
<div class="row form-horizontal col-md-12">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
        <h4>Change password information.</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Change password" class="btn btn-default" />
            </div>
        </div>
    }
</div>
