@model lab.SecurityApp.Models.WidgetRolePermission

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WidgetRolePermission</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Role.RoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.RoleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Widget.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Widget.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WidgetPermissionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
