@model IEnumerable<lab.SecurityApp.Models.WidgetRolePermission>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Role.RoleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Widget.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Role.RoleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Widget.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WidgetPermissionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.WidgetPermissionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WidgetPermissionId })
        </td>
    </tr>
}

</table>
