@model lab.SecurityApp.Models.EmailTemplate

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmailTemplate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmailTemplateCategory.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailTemplateCategory.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailSubject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailSubject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailMessage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAdmin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAdmin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsShared)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsShared)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmailTemplateId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
