@model IEnumerable<rabapp.web.Models.Country>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CountryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountryDisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountryIso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountryIso3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPublished)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CountryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountryDisplayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountryIso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountryIso3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPublished)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CountryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CountryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CountryId })
        </td>
    </tr>
}

</table>
