@model rabapp.web.Models.LeaveApplication

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LeaveApplication</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AttachmentFile.DocumentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttachmentFile.DocumentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeInfo.EmployeeCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeInfo.EmployeeCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeaveType.LeaveTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaveType.LeaveTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DurationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DurationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeaveReason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaveReason)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LeaveApplicationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
