@model IEnumerable<rabapp.web.Models.LeaveApplication>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AttachmentFile.DocumentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeInfo.EmployeeCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeaveType.LeaveTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DurationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeaveReason)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AttachmentFile.DocumentType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeInfo.EmployeeCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeaveType.LeaveTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DurationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeaveReason)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LeaveApplicationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LeaveApplicationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LeaveApplicationId })
        </td>
    </tr>
}

</table>
