@model rabapp.web.Models.LoanStep

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LoanStep</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Branch.BranchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branch.BranchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoanType.LoanTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoanType.LoanTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role.RoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.RoleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoanStepName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoanStepName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoanStepOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoanStepOrder)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LoanStepId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
