@model IEnumerable<rabapp.web.Models.LoanStep>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Branch.BranchName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoanType.LoanTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role.RoleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoanStepName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoanStepOrder)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Branch.BranchName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoanType.LoanTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role.RoleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoanStepName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoanStepOrder)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LoanStepId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LoanStepId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LoanStepId })
        </td>
    </tr>
}

</table>
