@model IEnumerable<rabapp.web.Models.EmployeeAttendInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AttendStatus.AttendStatusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeInfo.EmployeeCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OutTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OutDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AttendStatus.AttendStatusName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeInfo.EmployeeCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OutTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OutDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeAttendInfoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmployeeAttendInfoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmployeeAttendInfoId })
        </td>
    </tr>
}

</table>
