@model IEnumerable<rabapp.web.Models.EmployeeNomineeInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.EmployeeCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomineeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomineeFatherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomineeMotherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomineeSpouseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumberCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumberCountryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NationalIDNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassportNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PresentAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PermanantAddress)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.EmployeeCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomineeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomineeFatherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomineeMotherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomineeSpouseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumberCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumberCountryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NationalIDNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PassportNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PresentAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PermanantAddress)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeNomineeInfoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmployeeNomineeInfoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmployeeNomineeInfoId })
        </td>
    </tr>
}

</table>
