@model rabapp.web.Models.EmployeeTrainInfo

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EmployeeTrainInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee.EmployeeCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.EmployeeCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrainingTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainingTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TopicsCovered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopicsCovered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstituteName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstituteName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrainingLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainingLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrainingDuration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainingDuration)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
