@model IEnumerable<rabapp.web.Models.EmployeeTrainInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.EmployeeCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrainingTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopicsCovered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstituteName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrainingLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrainingDuration)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.EmployeeCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrainingTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopicsCovered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstituteName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrainingLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrainingDuration)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeTrainInfoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmployeeTrainInfoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmployeeTrainInfoId })
        </td>
    </tr>
}

</table>
