@model IEnumerable<lab.ElasticSearchApps.Models.PatientInformation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PatientId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientIdDisplay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientBirthYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientBirthMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientBirthYearMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PatientId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientIdDisplay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientBirthYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientBirthMonth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientBirthYearMonth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PatientId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PatientId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PatientId })
        </td>
    </tr>
}

</table>
