@model IEnumerable<rabapp.web.Models.EmployeeAcademicInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.EmployeeCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DegreeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConcentrationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstituteName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BoardUniversityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GradeMarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GradeMarksOutOf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GradeMarksPercent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassingYear)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.EmployeeCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DegreeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConcentrationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstituteName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BoardUniversityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GradeMarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GradeMarksOutOf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GradeMarksPercent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PassingYear)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeAcademicInfoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmployeeAcademicInfoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmployeeAcademicInfoId })
        </td>
    </tr>
}

</table>
