<ul class="nav navbar-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Master Configuration
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("Index", "Company", new { @area = "Admin" }, null)">Company</a></li>
            <li><a href="@Url.Action("Index", "Branch", new { @area = "Admin" }, null)">Company Branch</a></li>

            <li><a href="@Url.Action("Index", "GenderType", new { @area = "Admin" }, null)">Gender Type</a></li>
            <li><a href="@Url.Action("Index", "Shift", new { @area = "Admin" }, null)">Shift</a></li>
            
            <li><a href="@Url.Action("Index", "LeaveType", new { @area = "Admin" }, null)">Leave Type</a></li>
            <li><a href="@Url.Action("Index", "LeaveStep", new { @area = "Admin" }, null)">Leave Step</a></li>
            <li><a href="@Url.Action("Index", "LeaveOpenBalance", new { @area = "Admin" }, null)">Leave Open Balance</a></li>

            <li><a href="@Url.Action("Index", "EmployeeJobType", new { @area = "Admin" }, null)">Employee Job Type</a></li>
            
            <li><a href="@Url.Action("Index", "Department", new { @area = "Admin" }, null)">Department</a></li>
            <li><a href="@Url.Action("Index", "AssignDepartment", new { @area = "Admin" }, null)">Assign Department</a></li>
            
            <li><a href="@Url.Action("Index", "Section", new { @area = "Admin" }, null)">Section</a></li>
            <li><a href="@Url.Action("Index", "AssignSection", new { @area = "Admin" }, null)">Assign Section</a></li>

            <li><a href="@Url.Action("Index", "Designation", new { @area = "Admin" }, null)">Designation</a></li>
            <li><a href="@Url.Action("Index", "AssignDesignation", new { @area = "Admin" }, null)">Assign Designation</a></li>

            <li><a href="@Url.Action("Index", "Holiday", new { @area = "Admin" }, null)">Holiday</a></li>
            
            <li><a href="@Url.Action("Index", "WeekDay", new { @area = "Admin" }, null)">Week Day</a></li>
            <li><a href="@Url.Action("Index", "WeekEndType", new { @area = "Admin" }, null)">Weekend Type</a></li>
            <li><a href="@Url.Action("Index", "WeekEnd", new { @area = "Admin" }, null)">Weekend</a></li>

            <li><a href="@Url.Action("Index", "JobDuration", new { @area = "Admin" }, null)">Job Duration</a></li>
             
            <li><a href="@Url.Action("Index", "SalaryGrade", new { @area = "Admin" }, null)">Salary Grade</a></li>

            <li><a href="@Url.Action("Index", "LoanType", new { @area = "Admin" }, null)">Loan Type</a></li>
            <li><a href="@Url.Action("Index", "LoanStep", new { @area = "Admin" }, null)">Loan Step</a></li>

        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            User Configuration
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("Index", "Role", new { @area = "Admin" }, null)">Role</a></li>
            <li><a href="@Url.Action("Index", "User", new { @area = "Admin" }, null)">User</a></li>
            <li><a href="@Url.Action("Index", "AssignUserRole", new { @area = "Admin" }, null)">Assign User Role</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Employee Information
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("Index", "EmployeeBasicInfo", new { @area = "Admin" }, null)">Employee Basic Info</a></li>
            <li><a href="@Url.Action("Index", "EmployeeJobInfo", new { @area = "Admin" }, null)">Employee Job Info</a></li>

            <li><a href="@Url.Action("Index", "EmployeeFamilyInfo", new { @area = "Admin" }, null)">Employee Family Info</a></li>
            <li><a href="@Url.Action("Index", "EmployeeAcademicInfo", new { @area = "Admin" }, null)">Employee Academic Info</a></li>

            <li><a href="@Url.Action("Index", "EmployeeTrainInfo", new { @area = "Admin" }, null)">Employee Training Info</a></li>

        </ul>
    </li>
</ul>